<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Roshan{% endblock %}</title>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!-- JQuery -->
		<script src="/media/public/design1/lib/jquery/jquery-2.1.0.min.js"></script>
		
		<!-- Bootstrap -->
		<script src="/media/public/design1/lib/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/media/public/design1/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/media/public/design1/lib/bootstrap/css/bootstrap-theme.min.css">
		
		<!-- Design1 CSS -->
		<link rel="stylesheet" href="/media/public/orange/css/style.css">
		<script src="/media/public/orange/js/mainScript.js"></script>

		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Roshan Project</a>
        </div>
        <div class="navbar-collapse collapse"  id="mainmenu">
        {% if username %}
{% block menu %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="?page=dataset">Datasets</a></li>
            <li><a href="?page=trainedmodel">Trained Models</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="?page=process">Processes</a></li>
                <li><a href="?page=operation">Operations</a></li>
                <li><a href="?page=api">API</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Import Data</li>
                <li><a href="?page=importcsv">CSV</a></li>
                <li><a href="?page=importdicom">DICOM</a></li>
              </ul>
            </li>
          </ul>
{% endblock %}
          <span class="navbar-right navbar-brand">Hi, {{ username }} | <a href="/user/?action=logout">Logout</a></span>
          {% else %}
          <form class="navbar-form navbar-right" role="form"  method="post" action="/user/?action=login">>
          {% csrf_token %}
            <div class="form-group">
              <input name="username" type="text" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input name="password" type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>


{% block content %}{% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
	</body>
</html>